################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
obj
Release
Debug
__vm
/StrangerThingsArduino/image

candle-wifi/\.vscode/ipch/3089b89a785123b0/
